$radioPrefixCls: 'au-radio';
$radioItemPrefixCls: 'au-radio-item';
$listItemPrefixCls: 'au-list-item';
.#{$radioPrefixCls} {
  &-check {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #2ac845;
  }
}
.#{$radioItemPrefixCls} {
  border-top: 1px solid $gray-400;
  &:last-child {
    border-bottom: 1px solid $gray-400;
  }
  .#{$listItemPrefixCls} {
    border: none;
    &:active {
      opacity: 0.8;
    }
  }
}
