.au-sk-wrap {
  padding: 20px;
  .skeleton-default {
    display: flex;
    .loading {
      background: linear-gradient(
        90deg,
        rgba(207, 216, 220, 0.2),
        rgba(207, 216, 220, 0.4),
        rgba(207, 216, 220, 0.2)
      );
      background-size: 600% 100%;
      animation: loading 1.4s ease infinite;
    }
    .loading-row {
      height: 14px;
      margin: 4px;

      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        margin-left: 0;
      }
    }

    .loading-avatar {
      width: 28px;
      height: 28px;
      margin-right: 10px;
      border-radius: 50%;
    }
  }
}

@keyframes loading {
  0%,
  100% {
    background-position: 50% 0;
  }
  50% {
    background-position: 100% 0;
  }
}
