$swipeActionPrefixCls: 'slider-wrap';
$listItemPrefixCls: 'au-list-item';
.slider-wrap {
  position: relative;
  display: inline-block;
  overflow-x: hidden; // 左边滑动部分裁掉
}

.slider-content {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 20;
  vertical-align: bottom; // 不设置这个的话，wrap会比content高一点，不知道是为什么x
}

.slider-btn {
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;

  display: inline-flex;
  flex-direction: row;

  transform: scale(0.98);

  button {
    flex: 1;
    padding: 0;
    border: none;
  }
}

.#{$swipeActionPrefixCls} {
  border-top: 1px solid $gray-400;
  &:last-child {
    border-bottom: 1px solid $gray-400;
  }
  .#{$listItemPrefixCls} {
    border: none !important;
    &:active {
      opacity: 0.8;
    }
  }
}
