.wrap {
  display: inline-block;
  padding: 20px;
}

.viewport {
  display: inline-block;
  overflow: hidden;
  background: #fff;

  .col {
    position: relative;
    top: 0%;
    transition: transform 0.5s;

    &-i {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      font-weight: bold;
      font-size: 25px;
    }
  }
}
